body {
    margin: 0;
}
.bottom {
    width: 100%;
    height: 285px;
    background: url(../img/bottom_bg@2x.png)no-repeat top center;
    position: relative;
}
.channel{
   min-width: 1248px;
}
.menu .block {
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
    outline: none;
}
.top-block {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #0078d7;
    z-index: 999;
}
.top-block .top {
    color: #fff;
    width: 1024px;
    padding: 15px 0;
    margin: 0 auto;
    vertical-align: middle;
}

.top-block .top .login_icon {
    vertical-align: middle;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuList {
    display: inline-block;
    float: right;
}

.menuList .menu {
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    outline: none;
    vertical-align: middle;
}

.menuList .menu.nopadding {
    padding-left: 0;
}

.menuList .menu:hover {
    color: #777;
    transition: color 0.5s;
}


.content_img {
    width: 100%;
    padding-top: 45px;
}
.bousBottom .img{
    width: 100%;
}
.content_titleText {
    font-weight: 300;
    font-size: 41px;
    text-align: center;
}

.content_text {
    margin: 0 0 40px;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
    line-height: 160%;
    text-align: center;
}

.content-background {
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content_map_block {
    text-align: center;
}

.content-img {
    width: 1024px;
    margin: 0 auto;
}

.content-img .img {
    width: 100%;
}

.hous {
    text-align: center;
    background-color: #f6f6f6;
    margin-top: 90px;
}

.housImg-block {}

.housMenu {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
    display: inline-block;
}

.housMenu-block {
    display: inline-block;
    padding: 10px 40px;
    background-color: #cbcbcb;
    cursor: pointer;
    user-select: none;
    outline: none;
    margin: 0 10px
}

.housMenu-block.active {
    background-color: #fafafc;
    transition: 1s;
}

.housMenu-text {
    padding-top: 8px;
    color: #808080;
    font-weight: normal;
    font-size: 15px;
}

.bousBottom-text {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.bousBottom-text.q {
   position: absolute;
   left: 276px;
   bottom: 10px;
}

.bousBottom-text.a {
    text-align: center;
}

.bousBottom-text.a .row {
    padding: 0 20px;

}

.bousBottom-text.b {
    bottom: 40px;
    left: 320px;
}

.bousBottom-text.f {
    bottom: 40px;
    left: 320px;
}

.text-bottom {
    padding-top: 15px;
}

.bousBottom {
    width: 1024px;
    margin: 0 auto;
}

.bousBottom .KnotImg {
    width: 100%;
}

.detail .Analysis .KnotImg {
    width: 1024px;
    margin: 0 auto;
}

.Analysis {
    width: 100%;
}

.Analysis .img {
    width: 100%;
    vertical-align: middle;
}

.Analysis .img-top-text {
    width: 800px;
    font-size: 20px;
    font-weight: 500;

}

.Analysis .img-top-text.a {
    top:8%;
    right: 20%;
}
.Analysis .img-top-text.f {
    top:2%;
    right: 20%;
}

.Analysis .img-top-text.b {
    top:4%;
    left: 15%;
}

.Analysis .img-top-text.c {
    top:42%;
    right: 18%;
}

.Analysis .img-top-text.d {
    top:5%;
    right: 15%;
}
.Analysis .img-top-text.e {
    top: 8%;
    right: 10%;
}
.Analysis .title-img{
    width: 1024px;
    margin: 0 auto;
}
.bousBottom .title-img{
    width: 1024px;
    margin: 0 auto;
}

.Analysis .img-top-text .text {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 5px;
    text-align: right;
}

.Analysis .img-top-text .text.left {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 5px;
    text-align: left;
}

.Analysis .img-top-text .text1 {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #555e67;
    text-align: right;
}

.Analysis .img-top-text .text1.left {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #555e67;
    text-align: left;
}

.Analysis .tip {
    text-align: right;
    margin-right: 9px;
}

.Analysis .tip.left {
    text-align: left;
    margin-right: 9px;
}

.bottom-background {
    width: 1124px;
    margin: 0 auto;
}

.bottom-block {
    padding: 60px 0 0 0;
}

.bottom-block .left {
    display: inline-block;
}

.bottom-block .right {
    display: inline-block;
    padding-left: 360px;
}

.bottom .text {
    color: #fff;
    display: inline-block;
    padding-left: 20px;
}

.bottom .phone_text {
    letter-spacing: 10px;
}

.bottom .phone_num {
    color: #fff;
    font-size: 40px;
    letter-spacing: 6px;
}

.bottom .menu {
    padding: 15px 0;
    color: #fff;
}

.call {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.call .callme {
    padding: 0 12px;
}

.detail-block .detail {
    display: none;
}

.detail-block .detail.active {
    display: inline-block;
}

.bousBottom-text-head {
    vertical-align: top;
}

.mb-20 {
    margin-bottom: 20px;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

@keyframes rotateAnim {
    0% {
        transform: translate(600px, 0)
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotateAnim1 {
    0% {
        transform: translate(400px, 0)
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotateAnim2 {
    0% {
        transform: translate(200px, 0)
    }
    100% {
        transform: translate(0, 0);
    }
}

.transition {
    animation: rotateAnim 2s;
    padding-bottom: 10px;
}

.transition.a {
    animation: rotateAnim1 2s;
}

.transition.b {
    animation: rotateAnim2 2s;
}
.text-padding{
    padding-bottom: 20px;
}
.text-bottom-right{
    padding-left: 30px;
}