body {
    margin: 0;
}
.investment{
    min-width: 1248px;
}
.bottom {
    width: 100%;
    height: 285px;
    background: url(../../img/bottom_bg@2x.png)no-repeat top center;
    position: relative;
}

.top-block {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #0078d7;
    z-index: 999;
}
.menu .block {
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
    outline: none;
    
}
.content_img {
    width: 100%;
    padding-top: 45px;
}

.top-block .top {
    color: #fff;
    width: 1024px;
    padding: 15px 0;
    margin: 0 auto;
    vertical-align: middle;
}

.top-block .top .login_icon {
    vertical-align: middle;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuList {
    display: inline-block;
    float: right;
}

.menuList .menu {
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    outline: none;
    vertical-align: middle;
}

.menuList .menu.nopadding {
    padding-left: 0;
}

.menuList .menu:hover {
    color: #7cc5ff;
    transition: color 0.5s;
}

.content_titleText {
    font-weight: 300;
    font-size: 41px;
    text-align: center;
}

.content_text {
    margin: 0 0 40px;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
    line-height: 160%;
    text-align: center;
}
.pos-relative .img-text-icon{
    width: 42%;
    position: absolute;
    top:14%;
    right: 10%;
    animation: rotateAnim1 1s;
}
@keyframes rotateAnim1 {
    0% {
        transform: translate(0, -300px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.content-background {
    height: 770px;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content_map_block {
    text-align: center;
}

.content-img {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.content-img .img {
}

.hous {
    text-align: center;
    background-color: #f6f6f6;
    margin-top: 90px;
}

.housImg-block {}

.housMenu {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
    display: inline-block;
}

.housMenu-block {
    display: inline-block;
    padding: 10px 40px;
    background-color: #cbcbcb;
    cursor: pointer;
    user-select: none;
    outline: none;
    margin: 0 10px
}

.housMenu-block.active {
    background-color: #fafafc;
    transition: 1s;
}

.housMenu-text {
    padding-top: 8px;
    color: #808080;
    font-weight: normal;
    font-size: 15px;
}

.bousBottom-text {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    top: 60px;
    right: -50px;
}

.bousBottom-text.a {

    top: -680px;
    left: 80px;
}

.bousBottom-text.b {
    top: 40px;
    right:-20px;
}
.bousBottom-text.c-buttom{
    top:400px;
    left:-20px;
}

.bousBottom {
    width: 1024px;
    margin: 0 auto;
}

.Analysis {
    width: 100%;
}

.Analysis .img {
    width: 100%;
    vertical-align: middle;
}

.bottom-background {
    width: 1124px;
    margin: 0 auto;
}

.bottom-block {
    padding: 60px 0 0 0;
}

.bottom-block .left {
    display: inline-block;
}

.bottom-block .right {
    display: inline-block;
    padding-left: 360px;
}

.bottom .text {
    color: #fff;
    display: inline-block;
    padding-left: 20px;
}

.bottom .phone_text {
    letter-spacing: 10px;
}

.bottom .phone_num {
    color: #fff;
    font-size: 40px;
    letter-spacing: 6px;
}

.bottom .menu {
    padding: 15px 0;
    color: #fff;
}

.call {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.call .callme {
    padding: 0 12px;
}

.detail-block .detail {
    display: none;
}

.detail-block .detail.active {
    display: inline-block;
}
 .bousBottom-text-head {
        vertical-align: top;
    }

    .Analysis .img-top-text {
        font-size: 20px;
        font-weight: 500;
    }

    .Analysis .img-top-text.a {
        top: 12%;
        left:6%;
    }

    .Analysis .img-top-text.b {
        top: 15%;
        right:9%;
    }
    .Analysis .img-top-text.b-top {
        top: 5%;
        left:10%;
    }
    .Analysis .img-top-text.x {
        top: 6%;
        right:10%;
    }

    .Analysis .img-top-text .text {
        font-weight: 500;
        font-size: 32px;
        letter-spacing: 5px;
        text-align: left;
    }
    .Analysis .img-top-text .text3 {
        font-weight: 500;
        font-size: 32px;
        letter-spacing: 5px;
        text-align: right;
    }

    .Analysis .img-top-text .text1 {
        padding-top: 20px;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        color: #555e67;
        text-align: right;
    }
    .Analysis .img-top-text .text2 {
        padding-top: 20px;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        color: #555e67;
        text-align: left;
    }

    .Analysis .tip {
        text-align: left;
        margin-right: 9px;
    }
    .Analysis .tip2 {
        text-align: right;
        margin-right: 9px;
    }

    .pos-absolute {
        position: absolute;
    }

    .pos-relative {
        position: relative;
    }

    .bousBottom-text.q {
        top: 8%;
       right: 50%;
    }
    .bousBottom-text.qq {
        top: 5%;
       right: 10%;
    }
    .text-padding{
        padding-bottom: 20px;
    }
    .bousBottom-text.q .text{
        font-weight: 500;
        font-size: 32px;
        letter-spacing: 5px;
    }
    .bousBottom-text.q .text1{
        padding-top: 20px;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        color: #555e67;
    }
    .bousBottom-text.qq .text{
        text-align: right;
        font-weight: 500;
        font-size: 32px;
        letter-spacing: 5px;
    }
    .bousBottom-text.qq .text1{
        text-align: right;
        padding-top: 20px;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        color: #555e67;
    }